http_interactions:
- request:
    method: GET
    uri: https://zenodo.org/api/records?q=doi%3A%2210.5281%2Fzenodo.1095664%22&size=10page&allversions=1
  response:
    status: 400
    headers:
      content-type: application/json
      x-ratelimit-limit: '133'
      x-ratelimit-remaining: '132'
      x-ratelimit-reset: '1757305932'
      retry-after: '60'
    body:
      string: '{"status": 400, "message": "A validation error occurred.", "errors":
        [{"field": "size", "messages": ["Not a valid integer."]}]}'
  recorded_at: 2025-09-08 04:31:12
- request:
    method: GET
    uri: https://zenodo.org/api/records?q=recid%3A1095664&size=10page&allversions=1
  response:
    status: 400
    headers:
      content-type: application/json
      x-ratelimit-limit: '133'
      x-ratelimit-remaining: '130'
      x-ratelimit-reset: '1757305933'
      retry-after: '60'
    body:
      string: '{"status": 400, "message": "A validation error occurred.", "errors":
        [{"field": "size", "messages": ["Not a valid integer."]}]}'
  recorded_at: 2025-09-08 04:31:12
- request:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptdoi%3A%2210.5281%2Fzenodo.1095664%22&size=10page&allversions=1
  response:
    status: 400
    headers:
      content-type: application/json
      x-ratelimit-limit: '133'
      x-ratelimit-remaining: '128'
      x-ratelimit-reset: '1757305934'
      retry-after: '60'
    body:
      string: '{"status": 400, "message": "A validation error occurred.", "errors":
        [{"field": "size", "messages": ["Not a valid integer."]}]}'
  recorded_at: 2025-09-08 04:31:13
recorded_with: VCR-vcr/2.0.0
